@import "../../vars.css";


*{
    box-sizing: border-box;
    font-family:var(--font-roboto,"Roboto") ;
    
    
}

.wrapper{
   
   
}

.heading {
    color: var(--color-primary);
    padding: 0.3rem 0.3rem;
    width: 100%;
    background-color: var(--color-bg);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
  }


.container {
    background-image: url("../../../assets/skillbg.avif");
    background-repeat: no-repeat;
    background-size: cover;
  color: var(--color-text);
  margin:1rem;
 
}



.projects {
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 100%;
}