
@import "../../vars.css";

.wrapper{
   
    margin:0.2rem 0.2rem;
    max-width: 100%;
   
}

.container {
    position: relative;
    display: flex;
    align-items: center;
   justify-content: center;
    gap:2rem;
   background-image: url("../../../assets/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
    z-index: 1;
    padding:60px 30px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.2rem;
    color: var(--color-text);
    z-index: 1;
    padding:1rem 0.5rem;
  }
  
  .title {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: var(--font-roboto);
    background: url("../../../assets/orange-daisy-flowers-260nw-151046423.webp");
    background-position: 0 0;
    background-clip: text;
     -webkit-text-fill-color: transparent; 
    animation: animatedOne 10s linear infinite;
   
   
  }
  
  @keyframes animatedOne {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
  .description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 40px;
  }
  
  .contactBtn {
    text-decoration: none;
    background-color: var(--color-bg);
    color: var(--color-primary);
    border-radius: 100px;
    font-size: 23px;
    font-weight: 600;
    padding: 10px 20px;
    
  }

  .contactBtn:hover{
    background-color:orange;
    color:var(--color-text);
  }
  
  .heroImg {
    width: 40%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  @media screen and (max-width: 1100px){
    .heroImg{
        width:50%;
    }
    .title{
        font-size: 35px;
    }
    .description{
        font-size:25px;
    }
  }
  
  
  @media screen and (max-width: 850px) {
    .container {
      flex-direction: column-reverse;
      
    }
  
    .content {
     align-items: center;
      text-align: center;
    }

    
  }

  @media screen and (max-width: 600px){
  

   .contactBtn{
    font-size: 22px;
    padding:10px 18px;
   }
  }

  @media screen and (max-width: 380px){
    .title{
     font-size: 25px;
    }
    .contactBtn{
      font-size: 20px;
      padding:10px 18px;
     }
   }