@import "../../vars.css";


*{
    box-sizing: border-box;
    
    
}
.wrapper{
  width:100%;
  height:auto;
  
  
}


.heading {
    color: var(--color-primary);
    padding: 0.3rem 0.3rem;
    width: 100%;
    background-color: var(--color-bg);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
  }
  

.container {
    color: var(--color-text);
      margin:3% ;
    padding:1rem;
    background-image: url("../../assets/skillbg.avif");
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  
  
  .skills {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    flex: 0 1 calc(33.33% - 15rem);
  }
  
  .skillImageContainer {
    background-color:rgb(37, 36, 36);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
   
  }

  .skillImageContainer img {
    width: 75px;
    transition: transform 0.5s ease;
  }

  .skillImageContainer img:hover{
   transform: scale(0.9) rotate(360deg);
  }
  
 
  
  
  @media screen and (max-width: 830px) {
   
  
    .skills {
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }

    .skillImageContainer {
      
      width: 90px;
      height: 90px;
     
    }

    .skillImageContainer img {
      width: 60px;
      transition: transform 0.5s ease;
    }
}
  